<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7EJSKB9ELL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7EJSKB9ELL');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs | Black Coffee Network</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/plugins/bulma/bulma.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="/plugins/icofont/icofont.css">
  <link rel="stylesheet" href="/plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="/plugins/modal-video/modal-video.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <link rel="icon" href="/images/logo.png" type="image/png">
    <!-- Other head elements -->

     <!-- In your HTML head or before closing body tag -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/css/blog.css">


</head>
<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="columns is-gapless is-justify-content-space-between is-align-items-center">
				<div class="column is-6-desktop is-4-tablet has-text-left-desktop has-text-centered-mobile">
					<div class="header-top-info">
						<a href="tel:+254 7 06 624 712"><i class="icofont-phone mr-2"></i><span>+254 06 624 712</span></a>
						<a href="mailto:support@gmail.com" ><i class="icofont-email mr-2"></i><span>support@gmail.com</span></a>
					</div>
				</div>
				<div class="column is-6-desktop is-8-tablet">
					<div class="header-top-right has-text-right-tablet has-text-centered-mobile">
						<a href="https://www.facebook.com/blackcoffeenetwork?mibextid=ZbWKwL" target="_blank"><i class="icofont-facebook"></i></a>
						<a href="https://twitter.com/BCM_Kenya?t=Wkwb9nSPsOe_WJSRGppwPA&s=09" target="_blank"><i class="icofont-twitter"></i></a>
						
						<a href="/volunteer" class="top-btn">Join BCN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav id="navbar" class="navbar main-nav">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="/images/logo.png" alt="logo">
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>

			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end">					 
					<li class="navbar-item">
						<a class="navbar-link" href="/">Home</a>
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="/about">About</a>
					</li>

					

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Get Involved<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="/donation">Donation</a>
							<a class="navbar-item" href="/volunteer">Be a Volunteer</a>
						</div>
					</li>

					

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="/blog/all">Blog +</a>
						
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<body>
    <div class="container">
    <h1>All Blog Posts</h1>
   
    <div class="blog-list">
		<% blogs.forEach(function(blog) { %>
			<div class="blog-post">
				<h2><a href="/blog/blog-single/<%= blog.id %>"><%= blog.title %></a></h2>
				<% if(blog.content) { %>
					<div><%- blog.content.substring(0, 100) %>...</div> <!-- Display excerpt -->
				<% } else { %>
					<p>No content available.</p>
				<% } %>
				<!-- More blog details -->
			</div>
		<% }); %>
	</div>
	
	
	

    <!-- Navigation back to home or other parts of your site -->
    <a href="/">Back to Home</a>

	
</div>

<footer>

</footer>


  
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

    <script src="plugins/modal-video/jquery-modal-video.min.js"></script>

    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="/js/script.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>
</html>
