<!doctype html>



<html lang="en">
  <head>

	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7EJSKB9ELL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7EJSKB9ELL');
</script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Cheers To the Network">
  
  <meta name="author" content="O M">
    
  <!-- theme meta -->
  <meta name="theme-name" content="BCN" />

  <title>Black Coffee Network</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/plugins/bulma/bulma.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="/plugins/icofont/icofont.css">
  <link rel="stylesheet" href="/plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="/plugins/modal-video/modal-video.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <link rel="icon" href="/images/logo.png" type="image/png">


  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- In your HTML head or before closing body tag -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



</head>

<body>
<div class="container">
	<div class="columns">

		<div class="column is-1">

			<!--<img src="/images/logo.png">-->

			<!--left column-->
		</div>

		<div class="column is-10">
<!-- Header Start --> 
<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="columns is-gapless is-justify-content-space-between is-align-items-center">
				<div class="column is-6-desktop is-4-tablet has-text-left-desktop has-text-centered-mobile">
					<div class="header-top-info">
						<a href="tel:+254 7 06 624 712"><i class="icofont-phone mr-2"></i><span>+254 7 06 624712</span></a>
						<a href="mailto:support@gmail.com" ><i class="icofont-email mr-2"></i><span>support@gmail.com</span></a>
					</div>
				</div>
				<div class="column is-6-desktop is-8-tablet">
					<div class="header-top-right has-text-right-tablet has-text-centered-mobile">
						<a href="https://www.facebook.com/blackcoffeenetwork?mibextid=ZbWKwL" target="_blank"><i class="icofont-facebook"></i></a>
						<a href="https://twitter.com/BCM_Kenya?t=Wkwb9nSPsOe_WJSRGppwPA&s=09" target="_blank"><i class="icofont-twitter"></i></a>
						<a href="#" target="_blank"><i class="icofont-pinterest"></i></a>
						<a href="#" target="_blank"><i class="icofont-linkedin"></i></a>
						<a href="/volunteer" class="top-btn">Join BCN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav id="navbar" class="navbar main-nav">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<img src="images/logo.png" alt="logo">
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>

			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end">					 
					<li class="navbar-item">
						<a class="navbar-link" href="/">Home</a>
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="/about">About</a>
					</li>


					

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Get Involved<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							
							<a class="navbar-item" href="/volunteer">Be a Volunteer</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Activities<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="/event">Event</a>
					
						</div>
					</li>

					

					<li class="navbar-item">
						<a class="navbar-link" href="/blog/all">Blog</a>
						
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- Header Close -->
<!-- Slider Start -->


<!-- Slider Section -->
<!-- Slideshow container -->
<div class="slideshow-container">

	<!-- Full-width images with number and caption text -->
	<div class="mySlides fade">
	  
	  <!--<img src="/images/test.jpg" style="width:100%">-->
	  <p> 

		"Happy Monday to you, dynamic spirit! 🌟 <br> As you step into this new week, may it unfold like the masterpieces of Da Vinci - <br> 
		full of creativity 🎨, precision, and wonder. <br> 
		Let each day bring a blend of success 🚀 and learning, <br> 
		much like Shakespeare's profound narratives 📚. <br> 
		May your week be a symphony of productivity, harmonious meetings 🤝, <br>
		 insightful dialogues, and joyful moments 😊. <br> Wishes for a fruitful week resonate with opportunities for growth 🌱, <br> 
		 inspiring encounters, and an abundance of positive vibes! 🌈 <br> 
		 Embrace the week with the enthusiasm of an explorer discovering new horizons 🌍. 
		<br> Make it brilliant! ✨"</p>
	  <div class="text"></div>
	</div>
  
	<div class="mySlides fade">
	  
	  <img src="/images/test1.jpg" style="width:100%">
	  <div class="text">Next Lounge is on women in Leadership</div>
	</div>
  
	<div class="mySlides fade">
	  
	  <img src="/images/test2.jpg" style="width:100%">
	  <div class="text">Read our latest articles and be emporwered</div>
	</div>
  
	<!-- Next and previous buttons -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
	<span class="dot" onclick="currentSlide(1)"></span>
	<span class="dot" onclick="currentSlide(2)"></span>
	<span class="dot" onclick="currentSlide(3)"></span>
  </div>




  <section class="section latest-blog">
    <div class="container">
        <div class="columns is-justify-content-center is-desktop">
            <div class="column is-7-desktop has-text-centered">
                <div class="section-title">
                    <span class="h6 text-color">Thursday Lounges</span>
                    <h2 class="mt-4 content-title">Latest Topics</h2>
                </div>
            </div>
        </div>

        <div class="columns is-multiline is-justify-content-center">
			<% blogs.forEach(function(blog) { %>
				<div class="column is-4-desktop is-6-tablet">
					<div class="blog-item">
						<div class="card-body mt-2">
							<span class="text-sm text-color is-uppercase has-text-weight-bold">Admin</span>
							<h3 class="mb-3"><a href="/blog/blog-single/<%= blog.id %>" class=""><%= blog.title %></a></h3>
							<% if(blog.content) { %>
								<p class="mb-4"><%= blog.content.substring(0, 100) %>...</p> <!-- Show excerpt -->
							<% } else { %>
								<p class="mb-4">No content available.</p> <!-- Fallback message -->
							<% } %>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
		


    </div>
</section>


<!-- Section Intro Start -->
<section class="section intro">
	<div class="container">
		<div class="columns is-align-items-center is-desktop mb-6">
			<div class="column is-6-desktop">
				<div class="section-title mb-0">
					<span class="text-color">What we do</span>
					<h2 class="mt-4 content-title">We Believe that We can <br>Save More Lifes with you</h2>
				</div>
			</div>
			<div class="column is-6-desktop">
				<p>Black Coffee Network is a vibrant pan-African youth network and organization. It was established in 2017 and is officially registered as a community-based organization in Nakuru County. The roots of Black Coffee Network can be traced back to a small group of friends who would gather over a cup of coffee to discuss the challenges they encountered in their lives. Over time, this simple coffee connection has blossomed into a vast network comprising numerous young individuals from Nakuru County and even extending beyond its borders.</p>
			</div>
		</div>
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0"> 
					<img src="images/blog/im1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Our Mission</h4>
					<p>To be a youth led organization and network that will spearhead real change in Africa by encouraging youth participation across all sectors of development and to spearhead positive African spirit among the youth </p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="images/blog/im5.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Our Vision</h4>
					<p>An expanded youth network operating across the African continent and beyond and spread our activities to various high schools, campuses and youth incubation centers</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/blog/im5.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Our Goals</h4>
					<p>
						<ul>Meaningful Youth participation</ul>
						
						
					</p>
					
				</div>
			</div> 
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/blog/im7.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Teams</h4>
					<p>
						<ul>Team Mocha</ul>
						<ul>Team Latte</ul>
						
					</p>
				</div>
			</div> 
		</div>
	</div>
</section>
<!-- Section Intro END -->

	<div class="container">
		<div class="columns is-desktop">
			
		</div>
		
	




		<div class="counter-section">
			<div class="columns is-multiline">
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat  text-color">6</span>
						<p>Years of Experience</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat has-text-weight-bold text-color">1,460</span>
						<p>Active Volunteer</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat  text-color">92</span>
						<p>Availble Country</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat text-color">10</span>
						<p >Succesfull Activities</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<section class="section gallery">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-8-desktop is-10-tablet">
				<div class="section-title has-text-centered">
					<span class="text-color">Our Gallery</span>
					<h2 class="mt-4 mb-5 is-relative content-title">We connect with people across different sectors. we take risks and we always keep learning.</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="gallery-wrap">
			<div class="columns is-multiline">
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg1.jpg" class="gallery-popup">
							<img src="images/gallery/mg10.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg11.jpg" class="gallery-popup">
							<img src="images/gallery/mg11.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg14.jpg" class="gallery-popup">
							<img src="images/gallery/mg14.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg1.jpg" class="gallery-popup">
							<img src="images/gallery/mg1.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>

				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg6.jpg" class="gallery-popup">
							<img src="images/gallery/mg6.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-4-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg7.jpg" class="gallery-popup">
							<img src="images/gallery/mg7.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-6-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg12.jpg" class="gallery-popup">
							<img src="images/gallery/mg12.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
				<div class="column is-6-desktop is-12-tablet">
					<div class="gallery-item">
						<a href="images/gallery/mg11.jpg" class="gallery-popup">
							<img src="images/gallery/mg11.jpg" alt="" class=" w-100">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="column">
			<div class="column lg-12">
				<div class="section-divider"></div>
			</div>
		</div>
	</div>
</section>

<!-- Section About Start -->
<section class="section causes">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-7-desktop is-8-tablet">
				<div class="section-title has-text-centered">
					<span class="text-color">Latest Events</span>
					<h2 class="mt-4 mb-5 is-relative content-title">Our Recent Causes <br> to serve better</h2>
					
				</div>
			</div>
		</div>

		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-4-desktop is-6-tablet">
				<div class="cause-item">
					<img src="images/gallery/mg1.jpg" class=" w-100" alt="...">

					<div class="card-body">
						<h3 class="mb-4"><a href="/cause-single">16 Days of Activitism</a></h3>

						<ul class="list-inline border-bottom border-top py-3 mb-4">
						<li class="list-inline-item"><i class="icofont-check text-color mr-2"></i>Goal:	<span>GBV Sensitization</span></li>
						<li class="list-inline-item"><i class="icofont-check text-color mr-2"></i>Participants: <span>Youths</span></li>
						</ul>
						<p class="card-text mb-5">Join Us to Make a difference</p>

						
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="cause-item">
					<img src="images/gallery/mg1.jpg" class=" w-100" alt="...">

					<div class="card-body">
						<h3 class="mb-4"><a href="/cause-single">London Youth Engagement</a></h3>

						<ul class="list-inline border-bottom border-top py-3 mb-4">
						<li class="list-inline-item"><i class="icofont-check text-color mr-2"></i>Goal:	<span>End Violence</span></li>
						<li class="list-inline-item"><i class="icofont-check text-color mr-2"></i>Participants: <span>Young men and Women from London</span></li>
						</ul>
						<p class="card-text mb-5">Violence and drugs are rampat in Nakuru, we take proactive measures to end this</p>

						
					</div>
				</div>
			</div>
			<div class="column is-4-desktop is-6-tablet">
				<div class="cause-item">
					<img src="images/logo.png" class=" w-100" alt="...">

					<div class="card-body">
						<h3 class="mb-4"><a href="/cause-single">Orphanage</a></h3>
						
						<p class="card-text mb-4">We visit different Orphanages </p>
						<p class="card-text mb-4">You can also contribute to this course</p>

					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
<div class="cta-block section">
	<div class="container">
		<div class="columns is-justify-content-center ">
			<div class="column is-7-desktop is-12-tablet">
				<div class="cta-content has-text-centered">
					<i class="icofont-diamond text-lg text-color"></i>
					<h2 class="text-white text-lg mb-6 mt-4">We can’t help everyone, but everyone can help someone</h2>
				
				</div>
			</div>
		</div>
	</div>
</div>


</section>



<div class="volunteer section ">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-7-desktop is-12-tablet">
				<div class="volunteer-content">
					<img src="images/about/banner.jpg" alt="" class="">
					<h2 class="text-lg mb-5 mt-3">We can’t help everyone, but everyone can help someone</h2>
					

					<h2 class="mt-6 mb-5">Trusted worldwide partner</h2>
					<div class="clients-wrap">
						<a href="#">
							<img src="images/clients/client1.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client2.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client4.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client5.png" alt="" class="">
						</a>
						<a href="#">
							<img src="images/clients/client6.png" alt="" class="">
						</a>
					</div>
				</div>
			</div>

			<div class="column is-5-desktop is-12-tablet">
				<div class="volunteer-form-wrap">
					<span class="text-white">Join With us</span>
					<h2 class="mb-6 text-lg text-white">Become A Volunteer</h2>
					<form action="#" class="volunteer-form">
						<div class="mb-4">
							<input type="text" class="input" placeholder="Full Name">
						</div>
						<div class="mb-4">
							<input type="email" class="input" placeholder="Emaill Address">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Phone Number">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Age ">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Occupation">
						</div>
						<div class="mb-4">
							<textarea name="#" id="#" cols="30" rows="6" class="input" placeholder="Your Message"></textarea>
						</div>

						<a href="#" class="btn btn-main is-rounded mt-5">Send Message</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-4-desktop is-6-tablet">
				<div class="footer-widget widget">
					<h4 class="is-capitalize mb-4 text-white">Company</h4>
					<p>Black Coffee Network <br>Nakuru</p>

					<ul class="list-unstyled footer-menu mt-4">
						<li><a href="tel:+25470624712"><i class="icofont-phone"></i>+2547 06 24 712</a></li>
						<li><a href="#"><i class="icofont-email"></i>support@gmail.com</a></li>
					</ul>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="https://www.facebook.com/blackcoffeenetwork?mibextid=ZbWKwL"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/BCM_Kenya?t=Wkwb9nSPsOe_WJSRGppwPA&s=09"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="column is-2-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h4 class="is-capitalize mb-4 text-white">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="footer-widget widget">
					<h4 class="is-capitalize mb-4 text-white">Subscribe Us</h4>
					<p class="mb-4">Subscribe to get latest news article and resources  </p>

					<form action="#" class="sub-form">
						<input type="text" class="input mb-4 text-white" placeholder="Subscribe Now ...">
						<a href="#" class="btn btn-main btn-small is-rounded">subscribe</a>
					</form>
				</div>
			</div>
			
			<div class="column is-3-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h4 class="is-capitalize mb-4 text-white">Gallery</h4>

					<div class="gallery-wrap">
						<div class="gallery-img">
							<img src="images/blog/im1.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="images/blog/im2.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="images/blog/im3.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="images/blog/im4.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="images/blog/im6.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="images/blog/im7.jpg" alt="" class="">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-5">
			<div class="columns is-justify-content-center">
				<div class="column is-12">
					<div class="copyright has-text-centered">
						<small>&copy; Copyright Reserved to BCN by <a href="#" target="_blank" class="text-color">O M</a></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

    <script src="plugins/modal-video/jquery-modal-video.min.js"></script>

    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="/js/script.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	



	
	<script>
		let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 90000); // Change image every 2 seconds
}
	  </script>

</div>

<!--right column-->

<div class="column is-1">

</div>

	  </div>

</div>

  </body>
  </html>
   